
.note-txt-container pre {
    font-family: inherit;
    margin: 0
}

.note-txt{
    margin: 7px;
    min-height:3rem;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}