
.todo-container {
    margin: 0 auto;
    text-align: left;
}

.todo-txt {
    border: none;
    font-family: inherit;
    background-color: inherit;
    display: inline-block;
}

.btn-remove-todo {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.btn-add-todo {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 4px;
    text-shadow: 0 0 2px black;
}