
.todo-item {

}

.todo-txt {
    border: none;
    background-color: inherit;
    display: inline-block;
}

.btn-remove-todo {
    border: none;
    background-color: transparent;
    padding: 0;
}

.btn-add-todo {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 4px;
    text-shadow: 0 0 2px black;
}