
.note-txt-container {
}

.note-txt{
    margin: 7px;
    min-height:3rem;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

#text {
    max-width: 200px;
}