
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: beige;
    font-size:1.5rem
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:visited {
    color: inherit;
}
