.mail-main-container {
    width: 100%;
}

.mail-preview {
    margin: 10px auto;
    padding: 10px;
}

.mail-preview:nth-child(even) {
    background-color: rgba(222, 184, 135, 0.39);
}

.mail-unread {
    font-weight: bold;
}