.mail-filter{
    padding: 1.25rem 50px 1.25rem 0;
    border-bottom: 1px solid black;
}


.email-search {
    outline: unset;
    border: unset;
    background-color: #f1f3f4;
    border-radius: 5px;
    width: 25rem;
    height: 50px;
    padding: 1.25rem;
}