
.mail-side-nav {
    padding: 10px 20px;
    height: calc(100vh - 90px);
    border-right: 1px solid black;
}

.btn-compose-mail {
    border-radius: 20px;
    padding: 10px 30px;
}

.mail-side-nav>*:not(:first-child) {
    display: flex;
    align-items: center;
    padding-inline-end: 12px;
    padding-inline-start: 26px;
    height: 32px;
    width: 240px;
    border-radius: 0 16px 16px 0;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    line-height: 20px;
    color: black;
}

i.fa {
    font-size: 1.3em;
    margin-right: 10px;
}