
.mail-side-nav {
    min-height: calc(100vh - 90px);
    max-height: 100%;
    padding: 10px 20px;
    border-right: 1px solid black;
}

a.btn-compose-mail {
    margin: 0.5rem;
    padding: 0.75rem;
    border: 1px solid #000000;
    background-color: #ffffff;
    outline: 0;
    border-radius: 1.25rem;
}
a.btn-compose-mail:hover{
    filter: drop-shadow(1px 1px 4px #000000);
}

.mail-side-nav>*:not(:first-child) {
    display: flex;
    align-items: center;
    padding-inline-end: 12px;
    padding-inline-start: 26px;
    height: 32px;
    width: 240px;
    border-radius: 0 16px 16px 0;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    line-height: 20px;
    color: black;
}

i.fa {
    font-size: 1.3em;
    margin-right: 10px;
}

