@import './cmps/note-preview.css';
@import './cmps/note-list.css';
@import './cmps/note-todos.css';
@import './cmps/note-txt.css';
@import './cmps/note-video.css';
@import './cmps/note-add.css';
@import './cmps/note-img.css';


i{
    cursor: pointer;
}


@media (max-width: 1024px) {
    .notes-list {
    column-count: 3;
    }
    .note{
        margin: 8px auto;
        padding: 8px;
    }
   
}

@media (max-width: 768px) {
    .notes-list {
        column-count: 2;
        }
    
    .note{
        width: 100%;   
    }
}

@media (max-width: 536px) {
    .notes-list {
        column-count: 1;
        }
    .note-add-bar{
        width: 100%;
        margin:10px auto;
    }
}